<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/main.css') }}">
  <title>ToraPan - Blog</title>
</head>
<body>
  <nav>
    <div class="container">
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('blog_home') }}">Blog</a>
      <a href="#">
        <button>Light|Dark</button>
      </a>
    </div>
  </nav>
  
  <div class="container">

    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
